html
{
    background-color: #eaebff;
}

div.logo
{
    position: absolute;
    font-size: 300%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20%;
}

div.buttons
{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    text-align: right;
    margin-right: 25%;
    margin-top: 20px;
}

div.title
{
    padding-top: 30px;
    font-size: 200%;
    text-align: center;
}

div.slogan
{
    padding-top: 30px;
    text-align: center;
    font-size: 400%;
}

div.text1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    color: gray;
    line-height: 1.6;
    font-size: 30px;
}


div.text2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
    color: gray;
    line-height: 1.6;
    font-size: 30px;
}

div.text3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    color: gray;
    line-height: 1.6;
    font-size: 30px;
}

div.text4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    color: gray;
    line-height: 1.6;
    font-size: 30px;
}


div.text5
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
    color: gray;
    line-height: 1.6;
    font-size: 30px;
}

u
{
    font-weight: bold;
    color: #c4a044;
}

@media screen and (max-width:600px)
{
    div.logo
    {
        position: absolute;
        font-size: 150%;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-left: 5%;
    }

    div.buttons
    {
        font-size: 130%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        position: relative;
        text-align: right;
        margin-right: 5%;
        margin-top: 20px;
    }
    div.buttons
    {
        font-size: 130%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        position: relative;
        text-align: right;
        margin-right: 5%;
        margin-top: 20px;
    }

    div.title
    {
        padding-top: 30px;
        font-size: 130%;
        text-align: center;
    }

    div.slogan
    {
        padding-top: 25px;
        font-size: 130%;
        text-align: center;
    }

    img
    {
        max-width: 140%;
        float: left;
        margin-right: 100%;
        margin-left: -15%;
    }

    
    p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: 50%;
        margin: auto;
    }

    h1
    {
        font-size: 50%;
    }
    
    div.text5 h2
    {
        font-size: 75%;
    }

    div.text5 h5
    {
        font-size: 45%;
    }

    div.text1 strong
    {
        font-size: 90%;
    }
    div.text2 strong
    {
        font-size: 90%;
    }

}

