html
{
    background-color: #eaebff;
}

div.logo
{
    position: absolute;
    font-size: 300%;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20%;
}

div.buttons
{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    text-align: right;
    margin-right: 25%;
    margin-top: 20px;
}

div.title
{
    padding-top: 30px;
    font-size: 200%;
    text-align: center;
}
div.subtitle
{
    font-size: 120%;
    text-align: center;
}
div.proj
{
    color:gray;
    font-size: 200%;
    margin-left:20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding-top: 30px;
    margin-right: 20%;
}